In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1093,tt0287978,78000000,179179718,Daredevil,Ben Affleck|Jennifer Garner|Colin Farrell|Mich...,Mark Steven Johnson,A Guardian Devil,"He dwells in a world of eternal night, but the...",103,Fantasy|Action|Crime|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Regency...,2/14/2003,4.9,2003
1314,tt0363771,180000000,748806957,"The Chronicles of Narnia: The Lion, the Witch ...",William Moseley|Anna Popplewell|Skandar Keynes...,Andrew Adamson,Evil Has Reigned For 100 Years...,"Siblings Lucy, Edmund, Susan and Peter step th...",143,Adventure|Family|Fantasy,Walt Disney|Walden Media,12/7/2005,6.5,2005
246,tt1136608,30000000,210819611,District 9,Sharlto Copley|Jason Cope|Nathalie Boltt|Sylva...,Neill Blomkamp,You are not welcome here.,Aliens land in South Africa and have no way ho...,112,Action|Thriller|Science Fiction,WingNut Films|TriStar Pictures|Key Creatives|B...,8/5/2009,7.1,2009
1037,tt1758830,35000000,88058786,This Is 40,Paul Rudd|Leslie Mann|Jason Segel|Maude Apatow...,Judd Apatow,The sort-of sequel to 'Knocked Up',"Pete and Debbie are both about to turn 40, the...",134,Comedy,Apatow Productions,12/20/2012,5.5,2012
151,tt1646971,145000000,609123048,How to Train Your Dragon 2,Jay Baruchel|Gerard Butler|Kristen Wiig|Jonah ...,Dean DeBlois,The training is over.,The thrilling second chapter of the epic How T...,102,Fantasy|Action|Adventure|Animation|Comedy,DreamWorks Animation|Mad Hatter Entertainment,6/12/2014,7.7,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # Create a dictionary for answers

data = pd.DataFrame(data)

# Separate complex data in columns
data.genres = data.genres.apply(lambda x:x.split(sep='|'))
data.director = data.director.apply(lambda x:x.split(sep='|'))
data.cast = data.cast.apply(lambda x:x.split(sep='|'))
data.production_companies = data.production_companies.apply(lambda x:x.split(sep='|'))

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

def series_object_count(series):
    # Count the number of occurrences of unique objects in a series
    c = Counter()
    
    for line in series:
        for item in line:
            c[item] += 1
            
    return c


def take_month(date):
    # Return a month from a date
    datee = datetime.datetime.strptime(str(date), '%m/%d/%Y')
    return datee.month


# Add columns with additional values
data['profit'] = data.revenue - data.budget
data['release_month'] = data.release_date.apply(lambda x: take_month(x))
data['title_length'] = data.original_title.apply(lambda x: len(x))
data['overview_length'] = data.overview.str.split(' ').apply(lambda x: len(x))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:

data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [11]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110'

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107'

In [15]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)'

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# Find the most profitable film
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [19]:
# Find the most unprofitable film
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'

In [21]:
# Create a selection of profitable films
profit_films = (data[data.profit > 0]) 
len(profit_films)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [23]:
# Create a selection of films released in 2008 and find the film with the highest revenue
films_2008 = (data[data.release_year == 2008]) 
films_2008.original_title[films_2008.revenue == films_2008.revenue.max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [25]:
# Create a selection of films released in 2012-2014 and find the most unprofitable films
films_12_14 = (data[(data.release_year >= 2012) & (data.release_year <= 2014)]) 
films_12_14.original_title[films_12_14.profit == films_12_14.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
# # эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# # если будешь добавлять функцию - выноси ее в предобработку что в начале

In [27]:
answers['11'] = 'Drama'

### Here and below in the sorted data I display 2-3 top results to make sure there are no identical results

In [28]:
# Count the number of occurrences of unique genres 
display(series_object_count(data.genres).most_common(2))

[('Drama', 782), ('Comedy', 683)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama'

In [30]:
# Create a selection of profitable films and count the number of occurrences of unique genres 
profitable_films = data[data.profit >0]
display(series_object_count(profitable_films.genres).most_common(2))

[('Drama', 560), ('Comedy', 551)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = 'Peter Jackson'

In [32]:
# Create a selection of director-exploded films, group by director and sort by summary revenue
director_exploded = data.explode('director')
display(director_exploded.groupby('director')['revenue']
        .apply(sum).sort_values(ascending=False).head(2))

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = 'Robert Rodriguez'

In [34]:
# Create a selection of genre-exploded action films
genre_exploded = data.explode('genres')
action_films = genre_exploded[genre_exploded.genres == 'Action']

# Count the number of occurrences of unique directors     
display(series_object_count(action_films.director).most_common(2))

[('Robert Rodriguez', 9), ('Michael Bay', 7)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = 'Chris Hemsworth'

In [36]:
# Create a selection of cast-exploded films released in 2012
films_2012 = data[data.release_year == 2012]
cast_exploded_2012 = films_2012.explode('cast')

# Count the number of occurrences of unique actors and sort by summary revenue
display(cast_exploded_2012.groupby('cast')['revenue']
        .apply(sum).sort_values(ascending=False).head(2))

cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = 'Matt Damon'

In [38]:
# Create a selection of high budget films 
high_budget = data[data.budget > data.budget.mean()]
# Count the number of occurrences of unique actors        
display(series_object_count(high_budget.cast).most_common(2))

[('Matt Damon', 18), ('Adam Sandler', 17)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = 'Action'

In [40]:
# Create Nicolas Cage filmography
cast_exploded = data.explode('cast')
NCages_films = cast_exploded[cast_exploded.cast == 'Nicolas Cage']
# Count the number of occurrences of unique genres
display(series_object_count(NCages_films.genres).most_common(2))

[('Action', 17), ('Thriller', 15)]

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [42]:
# Create a selection of Paramount Pictures films
production_exploded = data.explode('production_companies')
Paramount_Pictures_films = production_exploded[
    (production_exploded.production_companies == 'Paramount Pictures')]

# Find the most unprofitable film by Paramount Pictures
display(Paramount_Pictures_films.original_title
        [Paramount_Pictures_films.profit == Paramount_Pictures_films.profit.min()])

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '2015'

In [44]:
# Group data by release year and sort by summary revenue
display(data.groupby('release_year')['revenue']
        .apply(sum).sort_values(ascending=False).head(2))

release_year
2015    25449202382
2014    23405862953
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '2014'

In [46]:
# Create a selection of Warner Bros films
Warner_Bros = production_exploded[production_exploded.production_companies.str.contains('Warner Bros')]
# Group Warner Bros films by release year and sort by summary profit
display(Warner_Bros.groupby('release_year')['profit']
        .apply(sum).sort_values(ascending=False).head(2))

release_year
2014    2292949646
2007    2201675217
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = 'Сентябрь'

In [48]:
# Group data by release month and sort by films quantity
display(data.groupby('release_month')['imdb_id']
        .count().sort_values(ascending=False).head(2))

release_month
9     227
12    190
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '450'

In [50]:
# Create a selection of films released in summer
summer_films = data[(data.release_month >= 6) & (data.release_month <= 8)]
summer_films.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               450 non-null    object
 1   budget                450 non-null    int64
 2   revenue               450 non-null    int64
 3   original_title        450 non-null    object
 4   cast                  450 non-null    object
 5   director              450 non-null    object
 6   tagline               450 non-null    object
 7   overview              450 non-null    object
 8   runtime               450 non-null    int64
 9   genres                450 non-null    object
 10  production_companies  450 non-null    object
 11  release_date          450 non-null    object
 12  vote_average          450 non-null    float64
 13  release_year          450 non-null    int64
 14  profit                450 non-null    int64
 15  release_month         450 non-null    int64
 16  title_length          450 non-null    int64
 17  overview_length       450 non-null    int64
dtypes: float64(1), int64(8), object(9)
memory usage: 66.8+ KB

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = 'Peter Jackson'

In [52]:
# Create a selection of director-exploded films released in winter
winter_films = director_exploded[(director_exploded.release_month == 12) | (director_exploded.release_month <= 2)]

# Count the number of occurrences of directors
c = Counter()
for line in winter_films.director:
    c[line] += 1

        
display(c.most_common(2))

[('Peter Jackson', 7), ('Clint Eastwood', 6)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = 'Four By Two Productions'

In [54]:
# Create production-exploded data
production_exploded = data.explode('production_companies') 

# Group production-exploded data by production company and sort the average title length
display(production_exploded .groupby('production_companies')['title_length']
        .mean().sort_values(ascending=False).head(2))

production_companies
Four By Two Productions    83.0
Jim Henson Company, The    59.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = 'Midnight Picture Show'

In [56]:
# Group production-exploded data by production company and sort the average description length
display(production_exploded .groupby('production_companies')['overview_length']
        .mean().sort_values(ascending=False).head(2))

production_companies
Midnight Picture Show    175.0
Room 9 Entertainment     161.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [58]:
# Sort films by vote average and display the first 1 percent of the total
display(data.sort_values(by='vote_average',ascending=False)['original_title']
        .head(round(len(data)/100)))

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [60]:
import itertools

buf = []

# Iterate through the list of actors and create all possible pairs in each film 
for i in data.cast:
    buf.append(itertools.combinations(i, 2))
    
# Create a uniform list of pairs of actors who played together in the same film
pairs = []
for line in buf:
    for pair in line:
        pairs.append(pair)
        
# Count the number of occurrences of unique pairs and sort
display(pd.Series(Counter(pairs)).sort_values(ascending = False).head(3))

Daniel Radcliffe  Emma Watson     8
                  Rupert Grint    8
Rupert Grint      Emma Watson     7
dtype: int64

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27